.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 20px;
}
.notfound-img {
  width: 400px;
}
.notfound-title {
  color: #6d396b;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 60px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .notfound-img {
    width: 500px;
  }
}
